.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.login-form {
  width: 300px;
}

.form-group {
  margin-bottom: 15px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50; /* You can change the color as needed */
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

.submit-button:hover {
  background-color: #45a049;
}

.alert {
  margin-bottom: 15px;
  padding: 10px;
  color: white;
  background-color: #f44336; /* Red background */
  border: none;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
}
