<%= stylesheet_link_tag 'frontpage', media: 'all', 'data-turbolinks-track': 'reload' %>
<div>
<h1>Kolab ! with your team </h1>
    <p>Synchronize your project with your friends and co leagues</p>
    <div class="button-container">
       
    <%= button_to "Log In", login_path, class: "button" , method: :get %>
   <%= button_to "Sign In", "singin/new", class: "button" , method: :get %>   
    </div>

    
</div>